body{
    font-family: 'Times New Roman', Times, serif;
}

.margin_left{
    margin-left: 20px;
}

.brand_img{
    margin-left: 70px ;
}

.img_logo{
    height: 50px;
    width: 50px;
}

.color_daftar{
    background-color: rgb(223, 123, 143);
}

.textLogo{
    color: crimson;
}

.carousel-inner{
    z-index: 0;
    height: 450px;
}

.caro{
    height: 450px;
}

.navbar{
    z-index: 1;
}