/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
}

.about .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.about .video-box img {
  padding: 15px 0;
}

.about .section-title p {
  text-align: left;
  font-style: italic;
  color: #666;
}

.about .about-content {
  padding: 40px;
}

.about .icon-box + .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #428bca;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #428bca;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #428bca;
}

.about .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  position: relative;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(66, 139, 202, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #428bca;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Project Wrap
--------------------------------------------------------------*/

.project-wrap {
  margin-bottom: 30px; }
  .project-wrap .img {
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 0; }
  .project-wrap .img .price {
  position: absolute;
  top: -8px;
  left: 20px;
  display: inline-block;
  background: #f15d30;
  color: #fff;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .project-wrap .img .price:after, .project-wrap .img .price:before {
  position: absolute;
  top: 0;
  content: ''; }
  .project-wrap .img .price:after {
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #c7390d transparent; }
  .project-wrap .img .price:before {
  width: 0;
  right: -8px;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #c7390d; }
  .project-wrap.hotel .img {
  height: 320px; }
  .project-wrap .text {
  margin: 0 auto;
  width: 90%;
  position: relative;
  border-top: none;
  margin-top: -40px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11); }
  .project-wrap .text span {
  font-size: 13px; }
  .project-wrap .text .days {
  font-size: 12px;
  color: #f15d30;
  text-transform: uppercase;
  font-weight: 700; }
  .project-wrap .text h3 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 500; }
  .project-wrap .text h3 a {
  color: #000000; }
  .project-wrap .text ul {
  margin: 0;
  padding: 0; }
  .project-wrap .text ul li {
  display: inline-block;
  margin-right: 10px;
  color: #b3b3b3; }
  .project-wrap .text ul li span {
  color: #f15d30;
  margin-right: 10px;
  font-size: 20px; }
  .project-wrap:hover .text .price {
  padding-left: 15px;
  padding-right: 15px;
  background: #33313b; }
  